<table>
  <thread>
    <tr>
      <th>ID</th>
      <th>FIRSTNAME</th>
      <th>LASTNAME</th>
      <th>EMAIL</th>
      <th>PHONE</th>
      <th>GENDER</th>
    </tr>
  </thread>
  <tbody>
    {% for row in rows %}
      <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.firstname }}</td>
        <td>{{ row.lastname }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.phone }}</td>
        <td>{{ row.gender }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
